In [7]:
import pandas as pd

In [6]:
df = pd.read_csv('data/products.csv')
df.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [7]:
df.shape

(77, 10)

In [9]:
df.dtypes

ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

In [ ]:
# veri filterelemek

In [ ]:
# UnitPrice 18'den büyük olan verilerin ProductID, ProductName, UnitPrice, UnitsInStock, sütunlarını listeleyin
#path I daha rahat okunur
(df.query('UnitPrice >18.00')
    .loc[:, ['ProductID', 'ProductName',  'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

#path II minik bir performans farkı sunar
# df[
#     df['UnitPrice'] > 18.00
# ][['ProductID', 'ProductName',  'UnitPrice', 'UnitsInStock']].sort_values(by='UnitPrice', ascending=False)

#path III
# df[
#     df['UnitPrice'] > 18.00
# ].loc[:, ['ProductID', 'ProductName',  'UnitPrice', 'UnitsInStock']].sort_values(by='UnitPrice', ascending=False)

    ProductID                       ProductName  UnitPrice  UnitsInStock
37         38                     Côte de Blaye     263.50            17
28         29           Thüringer Rostbratwurst     123.79             0
8           9                   Mishi Kobe Niku      97.00            29
19         20            Sir Rodney's Marmalade      81.00            40
17         18                  Carnarvon Tigers      62.50            42
58         59              Raclette Courdavault      55.00            79
50         51             Manjimup Dried Apples      53.00            20
61         62                    Tarte au sucre      49.30            17
42         43                       Ipoh Coffee      46.00            17
27         28                 Rössle Sauerkraut      45.60            26
62         63                      Vegie_spread      43.90            24
26         27                Schoggi Schokolade      43.90            49
7           8        Northwoods Cranberry Sauce      40.00             6
16         17                      Alice Mutton      39.00             0
11         12         Queso Manchego La Pastora      38.00            86
55         56            Gnocchi di nonna Alice      38.00            21
68         69                  Gudbrandsdalsost      36.00            26
71         72            Mozzarella di Giovanni      34.80            14
59         60                 Camembert Pierrot      34.00            19
63         64         Wimmers gute Semmelknödel      33.25            22
52         53                     Perth Pasties      32.80             0
31         32                Mascarpone Fabioli      32.00             9
25         26               Gumbär Gummibärchen      31.23            15
9          10                             Ikura      31.00            31
6           7   Uncle Bob's Organic Dried Pears      30.00            15
60         61                    Sirop d'érable      28.50           113
36         37                        Gravad lax      26.00            11
29         30             Nord_Ost Matjeshering      25.89            10
5           6      Grandma's Boysenberry Spread      25.00           120
54         55                      Pâté chinois      24.00           115
13         14                              Tofu      23.25            35
3           4      Chef Anton's Cajun Seasoning      22.00            53
70         71                       Flotemysost      21.50            26
4           5            Chef Anton's Gumbo Mix      21.35             0
64         65  Louisiana Fiery Hot Pepper Sauce      21.05            76
21         22               Gustaf's Knäckebröd      21.00           104
10         11                    Queso Cabrales      21.00            22
48         49                          Maxilaku      20.00            10
56         57                    Ravioli Angelo      19.50            36
43         44                      Gula Malacca      19.45            27
1           2                             Chang      19.00            17
35         36                       Inlagd Sill      19.00           112
39         40                  Boston Crab Meat      18.40           123

In [17]:
# UnitPrice 20'den büyük ve UnitsInStock'u 100 den büyük olan verilerin ProductID, ProductName, UnitPrice, UnitsInStock, sütunlarını listeleyin

(df.query('UnitPrice > 20.00 and UnitsInStock > 100')
    .loc[:, ['ProductID', 'ProductName',  'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

    ProductID                   ProductName  UnitPrice  UnitsInStock
60         61                Sirop d'érable       28.5           113
5           6  Grandma's Boysenberry Spread       25.0           120
54         55                  Pâté chinois       24.0           115
21         22           Gustaf's Knäckebröd       21.0           104

In [22]:
# QuantityPerUnit sütunun da boxes ifadesi geçen ürünlerin ProductID, ProductName, UnitPrice, UnitsInStock, sütunlarını listeleyin

(df.query('QuantityPerUnit.str.contains("boxes")')
    .loc[:, ['ProductID', 'ProductName','QuantityPerUnit', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

,ProductID,ProductName,QuantityPerUnit,UnitPrice,UnitsInStock
19,20,Sir Rodney's Marmalade,30 gift boxes,81.00,40
54,55,Pâté chinois,24 boxes x 2 pies,24.00,115
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,0
0,1,Chai,10 boxes x 20 bags,18.00,39
15,16,Pavlova,32 - 500 g boxes,17.45,29
76,77,Original Frankfurter grüne Soße,12 boxes,13.00,32
67,68,Scottish Longbreads,10 boxes x 8 pieces,12.50,6
46,47,Zaanse koeken,10 - 4 oz boxes,9.50,36
18,19,Teatime Chocolate Biscuits,10 boxes x 12 pieces,9.20,25
51,52,Filo Mix,16 - 2 kg boxes,7.00,38

In [29]:
# QuantityPerUnit sütunun da boxes ifadesi geçen  ve CategoryID si 2 olan ürünlerin ProductID, CategoryID, ProductName, UnitPrice, UnitsInStock,
#  sütunlarını listeleyin

(df.query('QuantityPerUnit.str.contains("boxes") and CategoryID == 2')
    .loc[:, ['ProductID', 'CategoryID', 'ProductName','QuantityPerUnit', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

,ProductID,CategoryID,ProductName,QuantityPerUnit,UnitPrice,UnitsInStock
4,5,2,Chef Anton's Gumbo Mix,36 boxes,21.35,0
76,77,2,Original Frankfurter grüne Soße,12 boxes,13.00,32

In [8]:
df_orders = pd.read_csv(filepath_or_buffer='data/orders.csv')
df_orders[:5]

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,04/07/1996,01/08/1996,16/07/1996,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,05/07/1996,16/08/1996,10/07/1996,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,08/07/1996,05/08/1996,12/07/1996,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,08/07/1996,05/08/1996,15/07/1996,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,09/07/1996,06/08/1996,11/07/1996,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [9]:
# sipariş aralığın 01/07/1996 ile  31/07/1996 aralığındaki olan siprişlerin OrderID, CustomerID, OrderDate, ShipName listeleyin
(
    df_orders.query('OrderDate >= "01/07/1996" and OrderDate <= "31/07/1996"')
        .loc[:, ['OrderID', 'CustomerID', 'OrderDate','ShipName']]
        .sort_values(by='CustomerID', ascending=True)
)

     OrderID CustomerID   OrderDate              ShipName
587    10835      ALFKI  15/01/1998  Alfred's Futterkiste
763    11011      ALFKI  09/04/1998  Alfred's Futterkiste
444    10692      ALFKI  03/10/1997  Alfred's Futterkiste
704    10952      ALFKI  16/03/1998  Alfred's Futterkiste
454    10702      ALFKI  13/10/1997  Alfred's Futterkiste
..       ...        ...         ...                   ...
126    10374      WOLZA  05/12/1996         Wolski Zajazd
363    10611      WOLZA  25/07/1997         Wolski Zajazd
796    11044      WOLZA  23/04/1998         Wolski Zajazd
544    10792      WOLZA  23/12/1997         Wolski Zajazd
658    10906      WOLZA  25/02/1998         Wolski Zajazd

[808 rows x 4 columns]